.buttons {
    margin-bottom: 1em;
    button {
        width: 50%;
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:active {
            &:focus {
                box-shadow: none;
            }
        }
        &:disabled {
            opacity: 0.8;
        }
    }
}