<div class="container">
  <div class="row">
    <!-- Content  -->
    <div class="col-md-8 my-4">
      <div class="jumbotron">
        <h1>Star Wars Movie Search</h1>
        <app-search-form></app-search-form>
      </div>
      <div class="jumbotron">
        <h1>Character's Carousel <small *ngIf="itemsLoaded">{{counter+1}}/{{count}}</small></h1>
        <app-carousel *ngIf="itemsLoaded" [characters]="characters" [amount]="count" [loading]="loading" (outputCounter)="updateCounter($event)"></app-carousel>
      </div>
    </div>
    <!-- Historical-->
    <div class="col-md-4 my-4">
      <div class="jumbotron">
        <h2>Recently Visited</h2>
      </div>
    </div>
</div>