// Base Divider class
.divider {
    display: flex;

    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

// Base line
.line {
    align-items: center;
    margin: 1em -1em;

    &:before,
    &:after {
        height: 1px;
        margin: 0 0px;
    }
}

.glow {
    &:before,
    &:after {
        height: 6px;
        -webkit-filter: blur(5px);
        border-radius: 5px;
    }

    &:before {
        background: linear-gradient(to right, green, green);
    }

    &:after {
        background: linear-gradient(to left, green, green);
    }
}